<div class="card my-3">
  <div class="card-header">
    <%= t('.header', title: @test_passage.test.title) %>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= @test_passage.current_question_number %>/<%= @test_passage.test.questions_count %> -
      <%= @test_passage.current_question.body %>
    </h5>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
      <%= f.collection_check_boxes :answer_ids,
                                   @test_passage.current_question.answers,
                                   :id, :body,
                                   include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object_id}" %>
          <%= b.label %>
        </p>
      <% end %>
      <%= f.submit t('.next'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
