<%= form_with model: [:admin, @question, @answer] do |f| %>
  <%= render 'partials/errors', resource: @answer %>
  <div class="form-group">
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, id: :answer_body, rows: 7, cols: 60, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :correct %>
      <%= f.check_box :correct, id: :answer_correct %>
    </p>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
