<%= form_with model: [:admin, @test, @question] do |form| %>
  <%= render 'partials/errors', resource: @question %>
  <div class="form-group">
    <p>
      <%= form.label :body %>
      <%= form.text_field :body, class: 'form-control' %>
    </p>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
