<div class="card my-3">
  <div class="card-header">
    <h5><%= @test.title %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong><%= Test.human_attribute_name(:level) %>:</strong>
      <%= test_level(@test) %>
    </li>
    <li class="list-group-item">
      <strong><%= Test.human_attribute_name(:category_id) %>:</strong>
      <%= @test.category.title %>
    </li>
    <li class="list-group-item">
      <table>
        <tr>
          <th><%= Question.model_name.human(count: @test.questions.count) %></th>
          <th colspan="3"><%= t('actions') %></th>
          <%= render partial: 'admin/questions/question', collection: @test.questions %>
        </tr>
      </table>
      <%= link_to t('admin.questions.new.header'), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
    </li>
    <li class="list-group-item">
      <%= link_to t('edit'), edit_admin_test_path(@test) %> |
      <%= link_to t('back'), admin_tests_path %>
    </li>
  </ul>
</div>
